<% layout('layouts/base') -%>

<% block('head', () => { %>
  <!-- Additional head content for this page -->
<% }) %>

<div class="about-content">
  <h1>About Pet Portal</h1>
  <p>At Pet Portal, our mission is simple – to connect loving homes with pets in need...</p>
  <img src="/assets/happy-pet-owner.avif" alt="Pet Owner" class="about-image">
</div>

<% block('scripts', () => { %>
  <!-- Page-specific scripts -->
<% }) %>